<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>
<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ingresar Datos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/ingresar">ingresar paquetes</a>
                    <a class="dropdown-item" href="/ingresar1">ingresar viajes</a>
                    <a class="dropdown-item" href="/ingresar2">ingresar estadia</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/busquedas">Buscar</a>
            </li>
        </ul>
        <span class="navbar-text">
            <h4 style="color: white">Administracion</h4>
        </span>
    </div>
</nav>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-5">
        <div class="card-body">
          <form action="/buscar"  method="post" class="card-body">
            <h1>buscar cliente</h1>
            <div class="form-group">
              <input type="text" name="rut" placeholder="RUT" class="form-control" autofocus>
            </div>
            <input type="submit" class="btn btn-primary">
          </form>
        </div>
      </div> 
      <div class="col-md-5">
        <div class="card-body">
          <form action="/buscar1"  method="post" class="card-body">
            <h1>buscar compra</h1>
            <div class="form-group">
              <input type="text" name="Id_compra" placeholder="ID" class="form-control" autofocus>
            </div>
            <input type="submit" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="card-body">
          <form action="/buscar2"  method="post" class="card-body">
            <h1>buscar paquete</h1>
            <div class="form-group">
              <input type="text" name="Id_paquete" placeholder="PAQUETE" class="form-control" autofocus>
            </div>
            <input type="submit" class="btn btn-primary">
          </form>
        </div>
      </div> 
      <div class="col-md-5">
        <div class="card-body">
          <form action="/buscar3"  method="post" class="card-body">
            <h1>buscar viaje</h1>
            <div class="form-group">
                <input type="text" name="Id_viaje" placeholder="ID" class="form-control" autofocus>
            </div>
            <input type="submit" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-md-5">
        <div class="card-body">
          <form action="/buscar4"  method="post" class="card-body">
            <h1>buscar vuelos por fecha</h1>
            <div class="form-group">
              <input type="text" name="Fecha_viaje" placeholder="Ej: 2021-04-22" class="form-control" autofocus>
            </div>
            <input type="submit" class="btn btn-primary">
          </form>
        </div>
      </div> 
      <div class="col-md-5">
        <div class="card-body">
          <form action="/buscar3"  method="post" class="card-body">
            <h1>buscar viaje</h1>
            <div class="form-group">
                <input type="text" name="Id_viaje" placeholder="ID" class="form-control" autofocus>
            </div>
            <input type="submit" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div> -->
  </div>
      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</body>
</html>