<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootswatch -->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <title>pro3</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <style>
        .table{
        outline-style: solid;
        outline-width: 2px;}
    </style>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/ver/<%= data.Id_paquete %>">Paquete</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Viaje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Compra</a>
                </li>
            </ul>
            <span class="navbar-text">
                <h4 style="color: whitesmoke">Paquetes Turisticos</h4>
            </span>
        </div>
    </nav>
    <div class="container mt-5">
        <div clas="row">
            <div class="card-deck">
                <div class ="col-3">
                    <h4><%= data.Nombre_paquete %></h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td scope="col">ingrese una fecha en especifico o una fecha que sera la fecha inicial hacia adelante</td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center;">
                        <a href="/ver/2" class="btn btn-info btn-sm disabled">Siguiente: Pago</a>
                    </div>
                </div>
                <div class="col-3">
                    <h5>Fecha en especifico</h5>
                    <form action="/buscar3" method="post" class="card-body">
                        <div class="form-group">
                            <input type="hidden" name="Id_paquete" value="<%= data.Id_paquete %>">
                            <input type="text" name="Fecha_viaje" placeholder="Ej: 2021-02-22" class="form-control">
                        </div>
                        <input type="submit" class="btn btn-info btn-sm">
                    </form>
                    <h5>esta fecha hacia adelante</h5>
                    <form action="/buscar4" method="post" class="card-body">
                        <div class="form-group">
                            <input type="hidden" name="Id_paquete" value="<%= data.Id_paquete %>">
                            <input type="text" name="Fecha_viaje" placeholder="Ej: 2021-02-22" class="form-control">
                        </div>
                        <input type="submit" class="btn btn-info btn-sm">
                    </form>
                </div>
                <div class="col-6">
                    <h4 style="color: white">A</h4>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Nombre Paquete</th>
                                <th scope="col">Pais Destino</th>
                                <th scope="col">Fecha Llegada</th>
                                <th scope="col">Fecha Salida</th>
                            </tr>
                        </thead>
                        <tbody>
                
                            <tr class="table-info">
                                <td>nombre xxxx</td>
                                <td>pais xxxx</td>
                                <td>fecha xxxx-xx-xx</td>
                                <td>fecha2 xxxx-xx-xx</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>    
    </div>
    </div>
</body>
</html>